@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: rgb(90, 89, 89);
}
.App {
  margin:0 ;
  
}